<h2 class="list_name">
  <%= @bird_list.name %>
</h2>

<ul class="bird_list">
  <% @bird_list.bird_entries.each do |entry| %>
      <li>
        <%= render :partial => 'bird_entries/bird_entry', :locals => {:entry => entry} %>
      </li>
  <% end %>
</ul>

