<span id="first_sighting_<%= entry.id %>" class="first_sighting">
    <% if !entry.sightings.empty? %>
        <% first_sighting = entry.sightings.first %>
      <span class="first_place"><%= first_sighting.place %></span>
      <span class="first_date"><%= first_sighting.date %></span>
    <% end %>
</span>
